[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
s3fs = "*"
scikit-learn = "==1.5.0"
loguru = "*"
gunicorn = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
